.share-outer { @include position(fixed,0,0,0,0); background:transparent; transition:background 1s ease; pointer-events: none;
  &.visible { background:rgba($body,0.65); pointer-events: all; }
}
.clicksheet { @include position(fixed,0,0,0,0); background:red; }
.cover { @include position(fixed,0,0,0,0); z-index:$z-sharebox; display: flex; align-items: center; justify-content: center; padding: 32px; transform: translateY(160vh); transition:all 1s ease;
  .sharebox { background-color:#212121; color:$white; padding: 20px; width:100%; max-width: 600px; pointer-events: all;
    h4 { margin-bottom: 16px; font-weight: $medium; }
    .share-text-holder { position: relative; margin-bottom: 1em; }
    textarea { font-family: $font-family; font-size:0.9rem; display:block; width:100%; border:1px solid $white;
      &:focus  { outline:none; border:1px solid $blue; }
    }
    button.copy { position:absolute; top:1px; right:1px; cursor: pointer;
      svg { width:1.5em; height:1.5em; }
    }
    .success-message { position: absolute; right:0; bottom:0; left:0; font-family: sans-serif; background:rgba(0,0,0,0.85); color:$blue; font-size:12px; padding:0.5em 1em; }
    .failure-message { position: absolute; right:0; bottom:0; left:0; font-family: sans-serif; background:rgba(0,0,0,0.85); color:$red; font-size:12px; padding:0.5em 1em; }
  }
  

  .share-options { //display:grid; grid-template-columns: repeat(8,1fr); gap:20px;
    display:flex; flex-wrap: wrap; justify-content: space-between;
    > * { flex-basis: 48px; display: flex; flex-direction: column; gap:5px; }
    svg { transform: scale(1); width:100%; }
    svg, span { display: block; }
    a { cursor: pointer; text-align: center;
      svg { transform-origin: center; }
      span { font-size:10px; font-family: sans-serif; }
    }
    .icon { fill:$black; }
    .box { fill:currentColor; }

    a.reddit { color:$color-reddit; fill:$color-reddit; }
    a.facebook { color:$color-facebook; fill:$color-facebook; }
    a.bluesky { color:$color-bluesky; fill:$color-bluesky; }
    a.mastodon { color:$color-mastodon; fill:$color-mastodon; }
    a.livejournal { color:$color-livejournal; fill:$color-livejournal; }







    a.twitter { color:$color-twitter; }
    a.whatsapp { color:  $color-whatsapp; fill:  $color-whatsapp; }
    a.livejournal { color:$color-livejournal;
      span { font-size:9px; padding-top: 1px; }
    }
    a.googleplus { color:$color-googleplus; }
    a.tumblr { color:$color-tumblr; fill:$color-tumblr; }
    a.sms { color:#ebdf39; }
    a.telegram { color:$color-telegram; fill:$color-telegram; }
    a.email { color:$color-email; }
    a.gmail { color: $color-gmail; fill:$color-gmail; }
    a:hover { 
      svg { transform: scale(1.15); }
    }
    a:active { 
      svg { transform: scale(0.9); }
    }
  }
  
  
  &.visible { transform: translateY(0); }
  
}